.main--photo {
  position: relative;
  max-width: 100%;
  height: 780px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 55%;
  border-radius: 2px;
  background-image: linear-gradient(to bottom, black, transparent),
    (to top, black, transparent),
    url("../../public/images/luke-stackpoole-ZRsJmpt9pNI-unsplash.jpg");
}

.second-photo--container {
  position: relative;
  width: 20%;
  left: 70%;
  top: 35%;
  height: 350px;
  border: 3px solid rgb(233, 224, 224);
  border-radius: 12px;
}

.second--photo {
  position: absolute;
  width: 85%;
  left: 44px;
  top: 35px;
  height: 309px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  background-image: url(../../public/images/ray-berry-Btc3Woa1dFc-unsplash.jpg);
}

section {
  position: absolute;
  width: 650px;
  top: 39%;
  left: 20%;
}

hr {
  width: 46rem;
  margin: 1.7rem 0;
}

h3 {
  font-family: "Lato", sans-serif;
  font-size: 2.2rem;
  font-weight: 800;
  color: #fff;
  letter-spacing: 0.2rem;
}

.text {
  font-family: "Itim", cursive;
  font-weight: 500;
  letter-spacing: 0.1rem;
  color: #fff;
}

/* Media Queries */
@media screen and (min-width: 375px) {
  .main--photo {
    max-width: 100%;
    height: 780px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-image: linear-gradient(to bottom, black, transparent),
      url("../../public/images/luke-stackpoole-ZRsJmpt9pNI-unsplash.jpg");
  }
  .second-photo--container {
    width: 26%;
    left: 71%;
    top: 13%;
    height: 215px;
  }
  .second--photo {
    width: 90%;
    left: 10px;
    top: 15px;
    height: 194px;
  }
  section {
    width: 280px;
    top: 35%;
    left: 5%;
  }

  hr {
    width: 22rem;
    margin: 0.7rem 0;
  }
  h3 {
    font-size: 1.1rem;
    font-weight: 300;
  }
  .text {
    font-size: 0.7rem;
    font-weight: 200;
    color: #fff;
  }
}

@media screen and (min-width: 576px) {
  .main--photo {
    max-width: 100%;
    height: 780px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-image: linear-gradient(to bottom, black, transparent),
      url("../../public/images/luke-stackpoole-ZRsJmpt9pNI-unsplash.jpg");
  }
  .second-photo--container {
    width: 21%;
    left: 70%;
    top: 25%;
    height: 215px;
  }
  .second--photo {
    width: 90%;
    left: 12px;
    top: 15px;
    height: 194px;
  }
  section {
    width: 350px;
    top: 47%;
    left: 5%;
  }

  hr {
    width: 27rem;
    margin: 0.7rem 0;
  }
  h3 {
    font-size: 1.3rem;
    font-weight: 400;
  }
  .text {
    font-size: 0.8rem;
    font-weight: 200;
    color: #fff;
  }
}

@media screen and (min-width: 768px) {
  .main--photo {
    max-width: 100%;
    height: 780px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 70%;
    background-image: linear-gradient(to bottom, black, transparent),
      url("../../public/images/luke-stackpoole-ZRsJmpt9pNI-unsplash.jpg");
  }
  .second-photo--container {
    width: 23%;
    left: 70%;
    top: 28%;
    height: 275px;
  }
  .second--photo {
    width: 90%;
    left: 16px;
    top: 0px;
    height: 269px;
  }
  section {
    width: 590px;
    top: 55%;
    left: 6%;
  }
  h3 {
    font-size: 1.8rem;
    font-weight: 600;
  }
  hr {
    width: 40rem;
    margin: 0.7rem 0;
  }
  .text {
    font-weight: 300;
    color: #fff;
  }
}

@media screen and (min-width: 992px) {
  .main--photo {
    max-width: 100%;
    height: 780px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 70%;
    background-image: linear-gradient(to bottom, black, transparent),
      url("../../public/images/luke-stackpoole-ZRsJmpt9pNI-unsplash.jpg");
  }
  .second-photo--container {
    width: 22%;
    left: 72%;
    top: 33%;
    height: 310px;
  }
  .second--photo {
    width: 90%;
    left: 21px;
    top: 24px;
    height: 280px;
  }
  section {
    width: 551px;
    top: 35%;
    left: 4%;
  }

  hr {
    width: 37rem;
    margin: 0.8rem 0;
  }
  h3 {
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
  }
  .text {
    font-weight: 400;
    letter-spacing: 0.1rem;
    color: #fff;
  }
}

@media screen and (min-width: 1200px) {
  .main--photo {
    position: relative;
    max-width: 100%;
    height: 780px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 71% 49%;
    border-radius: 2px;
    background-image: linear-gradient(to bottom, black, transparent),
      url("../../public/images/luke-stackpoole-ZRsJmpt9pNI-unsplash.jpg");
  }
  .second-photo--container {
    width: 16%;
    left: 71%;
    top: 26%;
    height: 349px;
  }
  .second--photo {
    width: 87%;
    left: 25px;
    top: 29px;
    height: 313px;
  }
  section {
    width: 597px;
    top: 36%;
    left: 14%;
  }

  hr {
    width: 40rem;
    margin: 0.8rem 0;
  }
  h3 {
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
  }
  .text {
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    color: #fff;
  }
}

@media screen and (min-width: 1400px) {
  .main--photo {
    position: relative;
    max-width: 100%;
    height: 1200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 71% 49%;
    border-radius: 2px;
    background-image: linear-gradient(360deg, black -20%, transparent),
      url("../../public/images/luke-stackpoole-ZRsJmpt9pNI-unsplash.jpg");
  }
  .second-photo--container {
    width: 23%;
    left: 71%;
    top: 30%;
    height: 500px;
  }
  .second--photo {
    width: 87%;
    left: 50px;
    top: 0px;
    height: 494px;
  }
  section {
    width: 597px;
    top: 44%;
    left: 14%;
  }

  hr {
    width: 58rem;
    margin: 1rem 0;
  }
  h3 {
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
  }
  .text {
    font-size: 1.2rem;
    font-weight: 300;
    color: #fff;
  }
}
