.header {
  position: relative;
  max-width: 100%;
  height: 1200px;
  background-size: cover;
  background-position: 50% 38%;
  background-repeat: no-repeat;
  border-radius: 2px;
  background-image: linear-gradient(to top, black, transparent),
    url("../../public/images/tyler-nix-6mze64HRU2Q-unsplash.jpg");
  border: none;
  border-image: none;
  overflow: hidden;
}

.nav {
  display: flex;
  justify-content: space-around;
  padding-top: 2.2rem;
}

.nav-right-container {
  display: flex;
}

.nav-right-container li {
  margin: 0 1.5rem;
}

li {
  font-size: 1.6rem;
  color: white;
  border-radius: 10px;
  list-style-type: none;
  cursor: pointer;
}

.icons {
  color: black;
}

.icons:hover {
  color: #fff;
}

a:hover {
  color: black;
}

.center {
  position: absolute;
  left: 20%;
  top: 65%;
  height: 95px;
  border-left: 6px dashed rgba(255, 255, 255, 0.603);
  border-top-left-radius: 50px;
  opacity: 0.5;
}

.arrow {
  position: absolute;
  top: 0;
  left: -6px;
  height: 40px;
  width: 6px;
  background: #fff;
  animation: animate 2.2s infinite;
}

.arrow::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -10px;
  width: 20px;
  height: 20px;
  border-bottom: 6px solid #fff;
  border-right: 6px solid #fff;
  border-radius: 7px;
  transform: rotate(45deg);
}

@keyframes animate {
  0% {
    transform: translateY(0);
    opacity: 0.6;
    transform: scale(0.9);
  }
  50% {
    transform: translateY(65px);
    opacity: 0.5;
  }

  100% {
    transform: translateY(95px);
    opacity: 0.4;
    transform: scale(1.1);
  }
}

.context {
  position: absolute;
  top: 29%;
  left: 51%;
  transform: translate(-49%, -53%);
  text-align: center;
}

.text1 {
  color: rgba(255, 255, 255, 0.486);
  font-size: 4.5rem;
  letter-spacing: 1.9rem;
}
/* Media Queries */
@media screen and (min-width: 375px) {
  .header {
    position: relative;
    max-width: 100%;
    height: 780px;
    background-size: cover;
    background-position: 50% 38%;
    background-repeat: no-repeat;
    border-radius: 2px;
    background-image: linear-gradient(to top, black, transparent),
      url("../../public/images/tyler-nix-6mze64HRU2Q-unsplash.jpg");
  }
  .center {
    position: absolute;
    left: 20%;
    top: 48%;
    height: 48px;
    border-left: 5px dashed rgb(255, 255, 255);
    border-top-left-radius: 50px;
    opacity: 0.5;
  }

  .arrow {
    position: absolute;
    top: 0;
    left: -6px;
    height: 25px;
    width: 6px;
    background: rgba(255, 255, 255, 0.76);
    animation: animate 2.2s infinite;
  }

  .arrow::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -7px;
    width: 15px;
    height: 15px;
    border-bottom: 5px solid rgb(255, 255, 255);
    border-right: 5px solid rgb(255, 255, 255);
    border-radius: 7px;
    transform: rotate(45deg);
    opacity: 1;
  }
}

@media screen and (min-width: 576px) {
  .header {
    position: relative;
    max-width: 100%;
    height: 780px;
    background-size: cover;
    background-position: 50% 38%;
    background-repeat: no-repeat;
    border-radius: 2px;
    background-image: linear-gradient(to top, black, transparent),
      url("../../public/images/tyler-nix-6mze64HRU2Q-unsplash.jpg");
  }
  .center {
    position: absolute;
    left: 20%;
    top: 48%;
    height: 48px;
    border-left: 5px dashed rgb(255, 255, 255);
    border-top-left-radius: 50px;
    opacity: 0.5;
  }

  .arrow {
    position: absolute;
    top: 0;
    left: -6px;
    height: 25px;
    width: 6px;
    background: rgba(255, 255, 255, 0.76);
    animation: animate 2.2s infinite;
  }

  .arrow::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -7px;
    width: 15px;
    height: 15px;
    border-bottom: 5px solid rgb(255, 255, 255);
    border-right: 5px solid rgb(255, 255, 255);
    border-radius: 7px;
    transform: rotate(45deg);
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .header {
    position: relative;
    max-width: 100%;
    height: 780px;
    background-size: cover;
    background-position: 50% 38%;
    background-repeat: no-repeat;
    border-radius: 2px;
    background-image: linear-gradient(to top, black, transparent),
      url("../../public/images/tyler-nix-6mze64HRU2Q-unsplash.jpg");
  }
  .center {
    position: absolute;
    left: 20%;
    top: 51%;
    height: 59px;
    border-left: 5px dashed rgb(255, 255, 255);
    border-top-left-radius: 50px;
    opacity: 0.5;
  }

  .arrow {
    position: absolute;
    top: 0;
    left: -6px;
    height: 25px;
    width: 6px;
    background: rgba(255, 255, 255, 0.76);
    animation: animate 2.2s infinite;
  }

  .arrow::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -7px;
    width: 15px;
    height: 15px;
    border-bottom: 5px solid rgb(255, 255, 255);
    border-right: 5px solid rgb(255, 255, 255);
    border-radius: 7px;
    transform: rotate(45deg);
    opacity: 1;
  }
}

@media screen and (min-width: 992px) {
  .header {
    position: relative;
    max-width: 100%;
    height: 780px;
    background-size: cover;
    background-position: 50% 38%;
    background-repeat: no-repeat;
    border-radius: 2px;
    background-image: linear-gradient(to top, black, transparent),
      url("../../public/images/tyler-nix-6mze64HRU2Q-unsplash.jpg");
  }
  .center {
    top: 57%;
    opacity: 0.6;
  }
  .context {
    top: 31%;
    left: 51%;
  }

  .text1 {
    color: rgba(255, 255, 255, 0.486);
    font-size: 2.2rem;
    letter-spacing: 1.6rem;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    position: relative;
    max-width: 100%;
    height: 1200px;
    background-size: cover;
    background-position: 50% 38%;
    background-repeat: no-repeat;
    border-radius: 2px;
    background-image: linear-gradient(to top, black, transparent),
      url("../../public/images/tyler-nix-6mze64HRU2Q-unsplash.jpg");
  }
  .center {
    top: 60%;
    opacity: 0.7;
  }
  .context {
    top: 31%;
    left: 51%;
  }

  .text1 {
    color: rgba(255, 255, 255, 0.486);
    font-size: 2.3rem;
    letter-spacing: 1.6rem;
  }
}

@media screen and (min-width: 1400px) {
  .header {
    position: relative;
    max-width: 100%;
    height: 1200px;
    background-size: cover;
    background-position: 50% 38%;
    background-repeat: no-repeat;
    border-radius: 2px;
    background-image: linear-gradient(to top, black, transparent),
      url("../../public/images/tyler-nix-6mze64HRU2Q-unsplash.jpg");
  }
  .center {
    top: 65%;
    opacity: 0.7;
  }
  .context {
    top: 29%;
    left: 52%;
  }

  .text1 {
    color: rgba(255, 255, 255, 0.486);
    font-size: 2.5rem;
    letter-spacing: 2.5rem;
  }
  .center {
    position: absolute;
    left: 20%;
    top: 65%;
    height: 90px;
    border-left: 7px dashed rgb(255, 255, 255);
    border-top-left-radius: 50px;
    opacity: 0.5;
  }
  .arrow {
    position: absolute;
    top: 0;
    left: -7px;
    height: 50px;
    width: 7px;
    background: rgba(255, 255, 255, 0.76);
    animation: animate 2.2s infinite;
  }

  .arrow::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -11px;
    width: 20px;
    height: 20px;
    border-bottom: 7px solid rgb(255, 255, 255);
    border-right: 7px solid rgb(255, 255, 255);
    border-radius: 7px;
    transform: rotate(45deg);
  }
}

@media screen and (min-width: 1600px) {
  .header {
    position: relative;
    max-width: 100%;
    height: 1200px;
    background-size: cover;
    background-position: 50% 38%;
    background-repeat: no-repeat;
    border-radius: 2px;
    background-image: linear-gradient(to top, black, transparent),
      url("../../public/images/tyler-nix-6mze64HRU2Q-unsplash.jpg");
  }
  .center {
    top: 72%;
    opacity: 0.7;
  }
  .context {
    top: 27%;
    left: 51%;
  }

  .text1 {
    color: rgba(255, 255, 255, 0.486);
    font-size: 3.6rem;
    letter-spacing: 2rem;
  }
}

@media screen and (min-width: 1900px) {
  .header {
    position: relative;
    max-width: 100%;
    height: 1200px;
    background-size: cover;
    background-position: 50% 38%;
    background-repeat: no-repeat;
    border-radius: 2px;
    background-image: linear-gradient(to top, black, transparent),
      url("../../public/images/tyler-nix-6mze64HRU2Q-unsplash.jpg");
  }
  .center {
    top: 75%;
    opacity: 0.7;
  }
  .context {
    top: 27%;
    left: 51%;
  }

  .text1 {
    color: rgba(255, 255, 255, 0.486);
    font-size: 4.5rem;
    letter-spacing: 2.2rem;
  }
}
